.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #00000030;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.navList {
  display: flex;
  gap: 10px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.active {
  color: #ebf1fc;
}
