.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #00000030;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #00000050;
  }
}
