.search{
  width: 100%;
  padding: 10px 20px;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 100%;
}

